<div class="main-container">
    <div class="upper-container">
            <div class=photoholder>
                <img src="/assets/images/jairo-logo.png" alt="">
                </div>
            <div class="jairo">
                <p>Jairosoft</p>
                <p>EINGRESS</p>
            </div>
            <div class="shut">
                <p>Shutting</p>
                <p>Down</p>
            </div>    
    </div>
    
            <input type="text" class="hidden-input" [hidden]="isHidden" #inputElement
           (focus)="onFocus()" (keyup.enter)="submitData()">

    <img class="JairoBot" src="/assets/images/JairoBot.png" alt="">
</div> 

