<div class="main-container">
    <div class="upper-container">
            <img src="/assets/images/jairo-logo.png" alt="">
            <p>Jairosoft EINGRESS</p>    
    </div>
    
    <div class="lower-container">
        <div class="content">
            <h1>Error</h1>
            <h2>RFID and Biometric didn't Match</h2>
        </div>
        <input type="text" class="hidden-input" [hidden]="isHidden" #inputElement
        (focus)="onFocus()" (keyup.enter)="submitData()">
    </div>
    <img class="JairoBot" src="/assets/images/JairoBot.png" alt="">
</div>